{% extends 'base.html' %}

{% block content %}
    <h1>hello_world</h1>

    <div class="container">
        <div class="row">
            {% for x in api %}
            <div class="col-sm-auto">
                <div class="card" style="width: 18rem;">
                  <img src="{{x.avatar_url}}" class="card-img-top" alt="avatar_url">
                  <div class="card-body">
                    <h5 class="card-title">{{x.login}}</h5>
                    <a href="{{x.html_url}} " target="_blank" class="btn btn-primary">访问{{x.login}}的github</a>
                  </div>
                </div>
                <br/>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}